<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhowin.youmamall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".base.YouMaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.activity.ForgetPasswordActivity"/>
        <activity android:name=".circle.activity.ReleaseCircleActivity" />
        <activity android:name=".mine.activity.ReleaseGoodActivity" />
        <activity android:name=".mine.activity.ShareMaterialActivity" />
        <activity android:name=".mine.activity.ProductListActivity" />
        <activity android:name=".home.activity.MessageListActivity" />
        <activity android:name=".home.activity.ProductDetailsActivity" />
        <activity android:name=".mine.activity.CardPasswordActivity" />
        <activity android:name=".mine.activity.MallOrderListActivity" />
        <activity android:name=".mine.activity.DepositActivity" />
        <activity android:name=".mine.activity.WithdrawActivity" />
        <activity android:name=".mine.activity.MyTeamActivity" />
        <activity android:name=".mine.activity.MyCouponActivity" />
        <activity android:name=".mine.activity.FeedbackActivity" />
        <activity android:name=".mine.activity.ContactServiceActivity" />
        <activity android:name=".mine.activity.SetPasswordActivity" />
        <activity android:name=".mine.activity.ChangeMobileActivity" />
        <activity android:name=".mine.activity.SettingActivity" />
        <activity android:name=".home.activity.ColumnListActivity" />
        <activity android:name=".home.activity.ConfirmOrderActivity" />
        <activity android:name=".home.activity.SearchActivity" />
        <activity android:name=".login.activity.LoginActivity" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" /> <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.activity.GuidePageActivity" />
        <activity android:name=".main.activity.MainActivity" />
    </application>

</manifest>